.admin-home-page {
  display: flex;
  background: #f8f9fa;
  height: 100vh;
}

@media screen and (max-width: 900px) {
  .admin-home-page {
    display: flex;
    flex-direction: column;
    background: #f8f9fa;
    height: 100vh;
  }
}
