.container {
  display: flex;
  padding: 1rem;
  text-decoration: none;
  list-style: none;
}
.container li {
  margin-right: 1rem;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  background: #ee8100;
  color: white;
  font-weight: bold;
}
.container .active {
  background: #a55f0c;
}
