.home-contianer {
  padding: 1rem;
}

.home-btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 0.6rem;
}

.white-container {
  padding: 1rem;
  background: white;
  border-radius: 5px;
}

.static-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media screen and (max-width: 900px) {
  .chart-container {
    grid-template-columns: 1fr;
  }
}
