.white-container {
  margin: 1rem;
}

.container-left {
  display: flex;
  justify-content: flex-end;
}

.static-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.box {
  background: white;
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
}
