.kitchen-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem;
  gap: 1rem;
}
.kitchen-box {
  min-height: 500px;
}
.kitchen-header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font: bold;
  margin-bottom: 0.8rem;
  background: rgb(191, 191, 191);
}

.kitchen-item .kitchen-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 0.8rem;
}
.kitchen-item .kitchen-card .table-number {
  /* background: linear-gradient(
    to bottom,
    rgba(253, 126, 20, 0.1),
    rgba(252, 196, 25, 0.3)
  ); */
  padding: 0.4rem 1rem;
}
.kitchen-item .kitchen-card .table-option {
  color: gray;
}

.left-container {
  display: flex;
  justify-content: end;
  margin: 1rem;
}
