.menu-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.menu-info-container img {
  border-radius: 5px;
}
.menu-info-container .info-container {
  margin-bottom: 1rem;
}
.menu-info-container .info-container h2,
p {
  margin-bottom: 0.4rem;
}

.menu-info-container .btn-container {
  display: flex;
  justify-content: flex-end;
}
.text-container {
  display: flex;
}
.text-container span {
  margin-right: 0.4rem;
}

@media screen and (max-width: 900px) {
  .menu-info-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
