.form {
  padding: 1rem;
}
.form-menu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-menu-container label {
  display: block;
  margin-bottom: 0.4rem;
}

.form-input-container {
  margin: 1rem;
  display: flex;
}

.form-table-container {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-table-container .action-btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.sub-container {
  background: white;
  padding-bottom: 3rem;
}
.left-side-container {
  display: flex;
  justify-content: flex-end;
}

.table-border {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.file-input .file-container {
  display: flex;
}
.file-input .file-container .file-box {
  margin-right: 1rem;
}
.file-input label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.file-input input[type="file"] {
  display: none;
}
.file-input .custom-file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px dashed gray;
  color: gray;
  border-radius: 5px;
  font-size: 12px;
  transition: background-color 0.3s ease;
  width: 100px;
  height: 100px;
}
.loading-container {
  margin: 1rem;
}

.column-color {
  background-color: red;
  color: #333;
}
@media screen and (max-width: 1300px) {
  .card-box {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .card-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .form-menu-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .card-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
