.navigation-box {
  height: auto;
  min-width: 250px;
  background: linear-gradient(to bottom, #fd7e14, #fcc419);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.logo-container .open-mobile {
  display: none;
}
.navigation-box img {
  width: 100px;
  margin-bottom: 1rem;
}
.navigation-box h2 {
  color: white;
  font-size: 20px;
}

.navigation-box ul {
  list-style: none;
}
.navigation-box ul a {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid transparent;
}
.navigation-box ul .active {
  background: white;
}
.navigation-box ul a .text-active {
  color: black;
}
.navigation-box ul a:hover {
  border: 1px solid white;
  transition: all 0.2s;
}
.navigation-box ul a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.navigation-box .svg-icon {
  color: white;
  margin-right: 0.8rem;
}

.exit-btn {
  display: flex;
  justify-content: center;
  margin: 1rem;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 5px;
  align-items: center;
}
.logout-btn {
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
}
.nav-menu {
  margin: 0 1rem;
  transition: all 0.5s;
}

@media screen and (max-width: 900px) {
  .navigation-box {
    width: 100%;
    background: linear-gradient(to right, #fd7e14, #fcc419);
    position: relative;
  }
  .logo-container img {
    display: none;
  }
  .logo-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-menu {
    padding: 1rem 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: white;
    left: -1000px;
  }
  .logo-container .open-mobile {
    display: block;
  }
  .nav-active {
    left: 0px;
  }
}
